<!DOCTYPE html>
<html amp lang="{{ .Site.LanguageCode | default "en" }}">
<head>
	<link rel="preload" as="script" href="https://cdn.ampproject.org/v0.js">

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
	{{ with .OutputFormats.Get "html" }}
	<link rel="canonical" href="{{ .Permalink }}">
	{{ end }}

	<script async src="https://cdn.ampproject.org/v0.js"></script>
	<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>

{{ if and .Site.GoogleAnalytics (not .Site.IsServer) }}
	<meta name="amp-google-client-id-api" content="googleanalytics">
	<script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
{{ end }}

{{ if .HasShortcode "card" }}
	<script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
{{ end }}

{{ with .PrevInSection }}
	<link rel="prefetch" href="{{ .Permalink }}" crossorigin="use-credentials">
{{ end }}

{{ with .NextInSection }}
	<link rel="prefetch" href="{{ .Permalink }}" crossorigin="use-credentials">
{{ end }}
<link rel="prerender" href="{{ "/" | absURL }}">

	<title>{{ block "title" . }}{{ end }}{{ .Site.Title }}</title>

{{ partial "head.html" . }}

{{ with resources.Get "main.scss" | toCSS }}
	<style amp-custom>{{ .Content | safeCSS }}</style>
{{ end }}
</head>
<body>
{{ if and .Site.GoogleAnalytics (not .Site.IsServer) }}
	<amp-analytics type="googleanalytics" config="https://amp.analytics-debugger.com/ga4.json" data-credentials="include">
		<script type="application/json">
{
	"vars": {
		"GA4_MEASUREMENT_ID": "{{ .Site.GoogleAnalytics }}",
		"GA4_ENDPOINT_HOSTNAME": "www.google-analytics.com",
		"DEFAULT_PAGEVIEW_ENABLED": true,
		"GOOGLE_CONSENT_ENABLED": false,
		"WEBVITALS_TRACKING": false,
		"PERFORMANCE_TIMING_TRACKING": false,
		"SEND_DOUBLECLICK_BEACON": false
	}
}
		</script>
	</amp-analytics>
{{ end }}

	<header class="masthead clearfix">
		<div class="container">
			{{ with .Site.Params.Icon }}
			<a href="{{ "/" | absURL }}" class="site-avatar">
				<amp-img src="{{ . }}" width="70" height="70" layout="responsive"></amp-img>
			</a>
			{{ end }}

			<div class="site-info">
				<h1 class="site-name">
					<a href="{{ "/" | absURL }}">{{ .Site.Title }}</a>
				</h1>
				{{ with .Site.Params.Description }}
				<p class="site-description">{{ . }}</p>
				{{ end }}
			</div>

			{{ with .Site.Menus.main }}
			<nav>
				{{ range .ByWeight }}
				<a href="{{ .URL }}">{{ .Name }}</a>
				{{ end }}
			</nav>
			{{ end }}
		</div>
	</header>

	<main class="container">
		{{ block "main" . }}{{ end }}
	</main>

	<footer class="wrapper-footer">
		{{ partial "links.html" . }}

		<p>{{ with .Site.Copyright }}{{ . | safeHTML }}{{ else }}&copy; {{ .Site.Title }}{{ end }}</p>
	</footer>
</body>
</html>
