<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
	<link rel="canonical" href="{{ .Permalink }}">
{{ range .AlternativeOutputFormats }}
	<link rel="{{ .Rel }}" type="{{ .MediaType.Type | html }}" href="{{ .Permalink | safeURL }}" title="{{ $.Site.Title | safeHTML }}">
{{ end }}

	<title>{{ block "title" . }}{{ end }}{{ .Site.Title }}</title>

{{ partial "head.html" . }}

{{ with resources.Get "main.scss" | toCSS }}
	<style>{{ .Content | safeCSS }}</style>
{{ end }}

{{ if and .Site.GoogleAnalytics (not .Site.IsServer) }}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.GoogleAnalytics }}"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', '{{ .Site.GoogleAnalytics }}');
</script>
{{ end }}
</head>
<body>
	<header class="masthead clearfix">
		<div class="container">
			{{ with .Site.Params.Icon }}
			<a href="{{ "/" | absURL }}" class="site-avatar">
				<img src="{{ . }}">
			</a>
			{{ end }}

			<div class="site-info">
				<h1 class="site-name">
					<a href="{{ "/" | absURL }}">{{ .Site.Title }}</a>
				</h1>
				{{ with .Site.Params.Description }}
				<p class="site-description">{{ . }}</p>
				{{ end }}
			</div>

			{{ with .Site.Menus.main }}
			<nav>
				{{ range .ByWeight }}
				<a href="{{ .URL }}">{{ .Name }}</a>
				{{ end }}
			</nav>
			{{ end }}
		</div>
	</header>

	<main class="container">
		{{ block "main" . }}{{ end }}
	</main>

	<footer class="wrapper-footer">
		{{ partial "links.html" . }}

		<p>{{ with .Site.Copyright }}{{ . | safeHTML }}{{ else }}&copy; {{ .Site.Title }}{{ end }}</p>
	</footer>
</body>
</html>
