{{ define "title" }}{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ end }}

{{ define "main" }}
<article class="posts">
	{{ $pages := .RegularPages }}
	{{ if .IsHome }}{{ $pages = where .Site.RegularPages "Type" "in" .Site.Params.MainSections }}{{ end }}
	{{ $paginator := .Paginate $pages }}
	{{ range $paginator.Pages }}
	<section class="post">
		<h1>
                        {{- $image := resources.Get .Params.featured_image -}}
                        <img src="{{ ($image.Fill "200x200 q100 Center").RelPermalink }}">
			<a href="{{ .Permalink }}">{{ .Title }}</a>
		</h1>

		<div class="meta">
			<time class="date" datetime="{{ .Date.Format "2006-01-02T15:04:05-07:00" | html }}">
				{{ .Date.Format ( .Site.Params.dateformat | default "Jan 2, 2006") }}
			</time>

		{{ with .Params.tags }}
			<ul class="tag">
			{{ range . }}
				<li><a href="{{ "tags" | absURL }}/{{ . | urlize }}">{{ . }}</a></li>
			{{ end }}
			</ul>
		{{ end }}
		</div>

		<div class="entry">
			{{ plainify .Summary }}
		</div>

		<a href="{{ .Permalink }}" class="read-more">Read More</a>
	</section>
	{{ end }}
</article>

{{ if gt .Paginator.TotalPages 1 }}
<div class="pagination">
	{{ if .Paginator.HasPrev }}
	<span class="left">
		<a href="{{ .Paginator.Prev.URL }}" class="prev">&#12298; Previous</a>
	</span>
	{{ end }}
	{{ if .Paginator.HasNext }}
	<span class="right">
		<a href="{{ .Paginator.Next.URL }}" class="next">Next &#12299;</a>
	</span>
	{{ end }}
</div>
{{ end }}
{{ end }}
